/* LoginModal.css */
.login-modal-content {
  padding: 20px;
}

.login-modal-content h2 {
  margin-top: 0;
}

.separator {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

.continue-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button:hover {
  background-color: #0056b3;
}
