.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000; /* Ensure the modal background is behind the modal */
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  max-height: 80%;
  overflow-y: auto; /* Enable vertical scrolling */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 1001; /* Ensure the modal is in front of the modal background */
}

.modal img {
  max-width: 80px; 
  max-height: 80px; 
}

.modal-routineshow { 
  display: block;
  z-index: 1002; /* Ensure the modal is in front of other elements */
  height: 1600px;
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0.5em; /* Adjust as needed */
  right: 0.5em; /* Adjust as needed */
  z-index: 1003; /* Ensure the close button is in front of the modal */
}
.modal-content {
  padding: 20px;
}

.exercise-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.exercise-card {
  display: flex; /* Use flexbox layout */
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  box-shadow: 0 2px 4px rgba(1, 0, 1, 0.6),
  0 -2px 4px rgba(0, 0, 0, 0.1) inset; /* Top shadow */
  padding: 10px; /* Adjust padding as needed */
}

.exercise-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 3), /* Increase shadow by 80% on hover */
  0 -4px 8px rgba(0, 0, 0, 0.18) inset;
}
.start-image {
  margin-right: auto; 
}

.end-image {
  margin-left: auto; /* Push end image to the right */
}
.exercise-card-button {
  border: none;
  padding: 0;
  background: none;
}

.image-container img {
  max-width: 30%; /* Ensure images don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}
.routine-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.routine-card {
  display: flex; /* Use flexbox layout */
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  box-shadow: 0 2px 4px rgba(1, 0, 1, 0.6),
  0 -2px 4px rgba(0, 0, 0, 0.1) inset; /* Top shadow */
  padding: 10px; /* Adjust padding as needed */
}

.routine-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.routine-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.routine-card p {
  margin-bottom: 15px;
}

.routine-card button:hover {
  background-color: #c82333;
}

.routine-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 3), /* Increase shadow by 80% on hover */
  0 -4px 8px rgba(0, 0, 0, 0.18) inset;
}

/* Ensure images don't exceed their container */
.routine-card img {
  max-width: 30%;
  height: auto;
}

.start-image {
  margin-right: auto;
}

.end-image {
  margin-left: auto; /* Push end image to the right */
}
