.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000; /* Ensure the modal background is behind the modal */
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  max-height: 80%;
  overflow-y: auto; /* Enable vertical scrolling */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 1001; /* Ensure the modal is in front of the modal background */
}

.modal img {
  max-width: 80px; 
  max-height: 80px; 
}

.modal-routineshow { 
  display: block;
  z-index: 1002; /* Ensure the modal is in front of other elements */
  height: 1600px;
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0.5em; /* Adjust as needed */
  right: 0.5em; /* Adjust as needed */
  z-index: 1003; /* Ensure the close button is in front of the modal */
}
.modal-content {
  padding: 20px;
}

.exercise-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.exercise-card {
  display: flex; /* Use flexbox layout */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px; /* Adjust padding as needed */
}

.start-image {
  margin-right: 10px; /* Add margin between start image and content */
}

.end-image {
  margin-left: auto; /* Push end image to the right */
}

.image-container img {
  max-width: 30%; /* Ensure images don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}